/* --------------------------------------------------------

    jq-quickvalidate 1.2

    * Author: Cedric Ruiz
    * License: GPLv2
    * Website: https://github.com/elclanrs/jq-quickvalidate

/* ----------------------------------------------------- */
/* ##################################################### */    
/* #############    User config:    #################### */    
/* ##################################################### */     
/* --------------------------------------------------------

    Dimensions:
    
    * use same units

/*------------------------------------------------------ */

    @font-size: 15px;
    @label-align: left;
    @field-width: @font-size * 15;
    @icon-size: 16px;

/*--------------------------------------------------------

    Theme:

------------------------------------------------------- */
    
    @error-color: #183E59;
    @invalid: #FFFBD4;
    @valid: #EDFCD9;
    @valid-icon: "../img/valid.png";
    @invalid-icon: "../img/invalid.png"; 
    
/*--------------------------------------------------------

    Extra:

------------------------------------------------------- */

    @error-width: @field-width / 1.5;
    @error-font-size: 80%;
    @icon-padding: @icon-size/2;
    
/*--------------------------------------------------------
/* #################################################### */    
/* ##############    end user config    ############### */    
/* #################################################### */          
/*--------------------------------------------------------

    Careful from here on...

    jQuery data:

------------------------------------------------------- */

    .qval-field-width {
        width: @field-width + @error-width + @icon-size + (@icon-padding * 2);
    }

/*--------------------------------------------------------

    Mixins:

------------------------------------------------------- */

.gradient (@start: #000, @stop: #FFF) {
    background: @start;
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow: @string;
	box-shadow: @string;
}

/*---------------------------------------------------- */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.qval-form {
    font-size: @font-size;
    p {
        float: left;
        clear: both;
        position: relative;
        margin: .5em 0;
    }
    label,
    input,
    .field {
        float: left;
        position: relative;
    }
    label {
        padding-right: 1.7em;
        text-align: @label-align;
    }
    input[type="text"],
    input[type="password"],
    textarea {
        padding: .3em;
        width: @field-width;
        border: 1px solid #ccc;
        outline: 0;
    }
    .valid-icon,
    .invalid-icon {
        position: absolute;
        top: 50%;
        margin-top: -@icon-size/2;
        right: -(@icon-size + @icon-padding);
        height: @icon-size;
        width: @icon-size;
    }
    textarea ~ .valid-icon,
    textarea ~ .invalid-icon {
        top: @font-size / 2; /* Aproximation */
        margin-top: 0;
    }
    .valid-icon {
        background: url(@valid-icon) no-repeat;
    }
    .invalid-icon {
        background: url(@invalid-icon) no-repeat;
        cursor: pointer;
    }
    input.invalid {
        background: @invalid;
        color: darken(@invalid, 80%);
        border: 1px solid darken(@invalid, 50%);
    }
    input.valid {
        background: @valid;
        color: darken(@valid, 80%);
        border: 1px solid darken(@valid, 50%);
    }
    .error {
        position: absolute;
        width: @error-width;
        right: -(@error-width + @icon-size + (@icon-padding * 2));
        margin-right: -10px; /* Same as arrow border-width */
        top: @font-size;
        z-index: 999;
        padding: .8em 1.2em;
        font-size: @error-font-size;
        text-shadow: 1px 1px 0 rgba(0,0,0,.5);
        .gradient(@error-color, lighten(@error-color, 10%));
        color: white;
        border-bottom: 1px solid @error-color;
        .box-shadow(0px 1px 1px rgba(0,0,0,0.3));
    }
    .error:after {
        @size: (@font-size/1.4);
        content: "";
        position: absolute;
        top: 0;
        left: -((@size - 1) * 2); /* `-1` to fix gap */
        border-style: solid;
        border-width: 0 @size @size @size;
        border-color: transparent @error-color transparent transparent;
    }

/* ----------------------------------------------------

    Responsive

------------------------------------------------------ */

    &.stack {
        .field,
        .error {
            @total: (@field-width + @icon-size + (@icon-padding * 2));
            @icon: @icon-size + (@icon-padding * 2);
            @percent:  (@icon / @total) * 100;
            width: 100% - @percent
        }
        p,
        input[type="text"],
        input[type="password"],
        textarea {
            width: 100%;
            max-width: @field-width * 1.5;
        }
        label {
            text-align: left;
            padding-bottom: .3em;
        }
        .error {
            position: inherit;
            float: left;
            clear: left;
            right: 0;
            margin-right: 0;
            top: 100%;
            margin-top: 4px;
        }
        .error:after {
            /* IE8 hack force refresh */
            content: ".";
            line-height: 0;
            text-indent: -9999px;
            /**/
            position: absolute;
            top: 0;
            margin-top: -16px;
            left: 50%;
            margin-left: -8px;
            border-style: solid;
            border-width: 8px 8px 8px 8px;
            border-color: transparent transparent @error-color transparent;
        }
        .valid-icon,
        .invalid-icon {
            float: right;
        }
    }

}